<launch>
  <node name="diff_tf.py" pkg="differential_drive" type="diff_tf"/>
  <node name="twist_to_motors.py" pkg="differential_drive" type="twist_to_motors" />
  <node name="wheel_loopback.py" pkg="differential_drive" type="wheel_loopback" />
  <node name="pid_velocity.py" pkg="differential_drive" type="pid_velocity" />
  <node name="virtual_joystick.py" pkg="differential_drive" type="virtual_joystick" />
  <node name="wheel_scaler.py" pkg="differential_drive" type="wheel_scaler"/>
</launch>
